@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Comme:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --font-base: "Comme", sans-serif;
  --font-mono: "Anonymous Pro", monospace;
  --font-headings: "Albert Sans", sans-serif;
  --font-base-size: 16px;
  --line-height-base: 1.6;
  --content-max: 1200px;
  --gutter: 16px;

  --color-header-bg: #1a1825;
  --color-header-text: #ffffffad;
  --color-header-text-hover: #ffffff;
  --color-main: #ffffff;
  --color-main-bg:#151419;
  --color-brand: #FBE159;
  --color-accent-blue: #72F0E1;
  --color-accent-pink: #FF1392;
  --color-accent-yellow:#FBE159;
  --color-btn-text: #222030;
  --color-btn-bg: #fe75bf;
  --color-highlight-bg: #e2ff74;
  --color-highlight-title: #151419;
  --color-highlight-text: #15141985;
  --color-about-text: #ffffffb8;
  --transition-speed: 0.3s;
  --header-height: 5rem;

  --ui-hero-title-size-mobile:2.4rem;
  --ui-hero-title-size-desktop:4.3rem;
}

@media (min-width: 768px) {
  :root {
    --gutter: 32px;
  }
}

@media (min-width: 1200px) {
  :root {
    --gutter: 36px;
  }
}

.container {
  width: 100%;
  max-width: var(--content-max);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

/* Typography */

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.125rem;
}

p {
  line-height: 1.6;
}
