<nav class="header__nav">
  <ul class="header__menu">
    <li class="header__menu-item">
      <a class="header__menu-link" href="index.html">Home</a>
    </li>
    <li class="header__menu-item">
      <a class="header__menu-link" href="about.html">About Us</a>
    </li>
    <li class="header__menu-item">
      <a class="header__menu-link" href="schedule.html">Schedule</a>
    </li>
    <li class="header__menu-item">
      <a class="header__menu-link" href="contacts.html">Contacts</a>
    </li>
  </ul>
</nav>