<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="index.html">
      <img
        class="header__logo-image"
        src="img/global/techcon-logo.svg"
        alt="TechCon Logo"
      />
    </a>

    <button class="header__burger" aria-label="Toggle menu">
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </button>

    <nav class="header__nav">
      <ul class="header__nav-menu">
        <li class="header__nav-menu-item">
          <a href="#" class="header__nav-menu-link">About</a>
        </li>
        <li class="header__nav-menu-item">
          <a href="#" class="header__nav-menu-link">Schedule</a>
        </li>
        <li class="header__nav-menu-item">
          <a href="#" class="header__nav-menu-link">Speakers</a>
        </li>
        <li class="header__nav-menu-item">
          <a href="#" class="header__nav-menu-link">Sponsors</a>
        </li>
        <li class="header__nav-menu-item">
          <a href="#" class="header__nav-menu-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
