<section class="hero">
  <div class="hero__container container">
    <div class="hero__header">
      <p class="hero__subtitle">Welcome to techcon</p>
      <h1 class="hero__title">
        Where <span class="hero__title-accent">technology</span> meets
        creativity<span class="hero__title-dot">.</span>
      </h1>
    </div>

    <div class="hero__content">
      <h3 class="hero__description">
        Join us at the NY Technology, Design & Innovation Conference, the
        premier gathering of visionaries on
        <span class="hero__description-accent">September 17-18, 2025.</span>
      </h3>
      <a href="#" class="hero__partners-label">20+ Trusted Partners</a>
      <div class="hero__partners-logos">
        <ul class="hero__partners-list">
          <li class="hero__partners-item">
            <img
              class="hero__partners-logo"
              src="../img/index/pixelpro-logo.svg"
              alt="PixelPro"
            />
          </li>
          <li class="hero__partners-item">
            <img
              class="hero__partners-logo"
              src="../img/index/digitalsphere-logo.svg"
              alt="Digital Sphere Interactive"
            />
          </li>
          <li class="hero__partners-item">
            <img
              class="hero__partners-logo"
              src="../img/index/cybertech-logo.svg"
              alt="CyberTech"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="hero__footer">
      <div class="hero__buttons">
        <a href="#" class="hero__button hero__button--buy">Buy a ticket</a>
        <a href="#" class="hero__button hero__button--discover"
          >Discover the schedule</a
        >
      </div>
      <div class="hero__social">
        <div class="hero__social-list">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="hero__social-item hero__social-item--instagram"
            >Instagram</a
          >
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="hero__social-item hero__social-item--facebook"
            >Facebook</a
          >
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="hero__social-item hero__social-item--youtube"
            >YouTube</a
          >
        </div>
        <a href="#" class="hero__social-item hero__more-speakers">More speakers</a>
      </div>

      
    </div>
  </div>
</section>
