.hero {
  background: url("../../img/index/background-banner.png") no-repeat 40% center /
    cover;
  height: auto;
  min-height: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5.6rem;
}

.hero__container {
  padding-top: 5.6rem;
  padding-bottom: 5rem;
}

.hero__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 50rem;
}

.hero__subtitle {
  font-family: var(--font-mono);
  color: var(--color-brand);
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

.hero__title-accent {
  color: var(--color-accent-blue);
}

.hero__title-dot {
  color: var(--color-accent-pink);
}

.hero__description {
  font-family: var(--font-base);
  color: var(--color-main);
  margin-top: 2.8rem;
  max-width: 38rem;
  font-weight: 400;
}

.hero__description-accent {
  color: var(--color-brand);
  font-size: 1.2rem;
  font-weight: 700;
}

.hero__partners-label {
  display: inline-block;
  margin-top: 1.56rem;
  color: var(--color-header-text);
  font-family: var(--font-base);
  font-size: 1.14rem;
}

.hero__title {
  margin-top: 1.25rem;
  font-size: var(--ui-hero-title-size-mobile);
  color: var(--color-main);
  font-family: var(--font-headings);
}

.hero__partners-logos {
  margin-top: 3rem;
  max-width: 25rem;
}

.hero__partners-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  list-style: none;
  justify-items: center;
  align-items: center;
}

.hero__partners-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__partners-logo{
  max-width: 100%;

  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.hero__partners-logo:hover {
  opacity: 1; 
}

.hero__footer{
  margin-top: 4.5rem;
}

.hero__buttons{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.hero__button--buy{
  padding: 1.25rem 2.4rem;
  background-color: var(--color-brand);
  color: var(--color-btn-text);
  border: none;
  text-decoration: none;
  font-family: var(--font-base);
  font-size: 0.88rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero__button--buy:hover{
  background-color: var(--color-btn-bg);
}

.hero__button--discover{
  font-style: italic;
  font-family: var(--font-base);
  font-size: 0.96rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-brand);
}

.hero__social{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  max-width: 35rem;
  gap: 1rem;
}

.hero__social-list{
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-top: 8rem;
}

.hero__social-item{
  color: var(--color-brand);
  font-family: var(--font-mono);
  font-size: 0.69rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 700;
}

.about__conference-highlights{
  background-color: var(--color-highlight-bg);
  padding: 1rem 0 ;
 
}

.about__conference-highlight-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  justify-items: center
}

.about__conference-highlight{
  max-width: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about__conference-highlight-icon{
  height: 3rem;
}

.about__conference-highlight-title{
  font-family: var(--font-headings);
  color: var(--color-highlight-title);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 26.4px;
}

.about__conference-highlight-text{
  font-family: var(--font-base);
  color: var(--color-highlight-text);
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 25.5px;
}

.about__conference-intro{
  background-color: var(--color-main-bg);
  padding: 6.25rem 0 6.87rem 0;
}

.about__conference-title-accent--pink{
  color: var(--color-accent-pink);
}

.about__conference-title-accent--yellow{
  color: var(--color-accent-yellow);
}

.about__conference-title-accent--blue{
  color: var(--color-accent-blue);
}

.about__conference-intro-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about__conference-title{
  font-family: var(--font-headings);
  color: var(--color-main);
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 2.4rem;
  max-width: 50rem;
}

.about__conference-description{
  margin-top: 2.8rem;
  max-width: 50rem;
  font-size: 1.06rem;
  font-family: var(--font-base);
  font-weight: 400;
  color: var(--color-about-text);

}

.about__conference-description-highlight{
  font-weight: 600;
  color: var(--color-main);
  text-decoration: underline;
   display: inline;
}

.about__conference-countdown-container{
  margin-top: 2.44rem;
}

.about__conference-countdown{
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  justify-items: center;
  align-items: center;
  width: 100%; 
  gap: clamp(1rem, 4vw, 8rem);
  text-align: center;
}

.about__conference-countdown-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__conference-countdown-number{
  font-family: var(--font-headings);
  color: var(--color-main); 
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 700;
}

.about__conference-countdown-label{
  font-family: var(--font-base);
  color: var(--color-main); 
  font-size: clamp(1rem,2vw, 1.2rem);
  opacity: .54;
  font-weight: 400; 
}

.section-divider {
  display: block;
  width: 100%;
  height: 35px;
  fill: var(--color-main-bg);
}



@media (min-width: 768px) {
  .hero__title {
    font-size: var(--ui-hero-title-size-desktop);
  }

  .hero__container {
    padding-top: 6.56rem;
  }

  .hero__description{
    max-width: 29rem;
  }

  .hero__partners-logos{
    max-width: 35rem;
  }

  .hero__partners-list {
    grid-template-columns: repeat(3, 1fr); 
  }
  .hero__social{
    flex-direction:row;
    align-items: end;
  }
  .about__conference-highlight-container{
    grid-template-columns: 1fr 1fr;
  }
  .about__conference-title{
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .about__conference-intro{
    padding: 8.44rem 0 8.25rem 0;
  }
  .about__conference-description{
  margin-top: 3.125rem;
  }
  .about__conference-countdown-container{
  margin-top: 3.44rem;
  
}

}

@media (min-width: 1024px) {
  .hero__container {
    padding-top: 7.5rem;
  }
  .about__conference-highlight-container{
    grid-template-columns: repeat(4, 1fr); 
    gap: 2.5rem;
  }
  .about__conference-highlight:first-child{
  min-width: 21rem;
  }
    .about__conference-intro{
    padding: 10.62rem 0 10.3rem 0;
  }
}

@media (max-width: 300px) {
  .about__conference-countdown{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
}